.App {
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}

.body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: columns;
  justify-content: flex-start;
  box-sizing: border-box;
  font-size: 0.9rem;
  counter-reset: boxes;
}

.body .box{
  width: 19%;
  justify-content: space-between;
  display: inline-block;
  min-height: 150px;
  height: auto;
  font-size: 0.9em;
  margin-bottom: 1em;
  /* border: black 1px solid; */
}

.box{
  text-align: left;
  line-height: 0.8rem;
  margin: 2px;
  padding: 0;
}

.body .box p{
  width: 75%;
}

.my-melody{
  line-height: 0.8;
  text-align: left;
  font-size: 0.75em;
}